{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Profile<h2>
    <h3>This is <b>{{ session['username'].title() }}'s</b> profile page<h3>
    <p> <b>Name:</b> {{user.username.title()}} </p>
    <p> <b>Home Folder:</b> {{user.homefolder}} </p>
    <p> <b>Shell Type:</b> {{user.shelltype}} </p>
    <p> <b>Sudo Privileges:</b> {{user.sudopr}} </p>

    <form action="{{ url_for('delete') }}" method=post>
    	{{ form.hidden_tag() }}

    	{{ form.submit }}	
	</form>
	 <form action="{{ url_for('modify') }}" method=post>
    	{{ form1.submit }}
  	</form>
  </div>
{% endblock %}